<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.BridgeTypeMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.BridgeType">
    <!--@mbg.generated-->
    <!--@Table bridge_type-->
    <id column="bridge_type_id" jdbcType="INTEGER" property="bridgeTypeId" />
    <result column="bridge_type_name" jdbcType="VARCHAR" property="bridgeTypeName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    bridge_type_id, bridge_type_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from bridge_type
    where bridge_type_id = #{bridgeTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bridge_type
    where bridge_type_id = #{bridgeTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.BridgeType">
    <!--@mbg.generated-->
    insert into bridge_type (bridge_type_id, bridge_type_name)
    values (#{bridgeTypeId,jdbcType=INTEGER}, #{bridgeTypeName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.BridgeType">
    <!--@mbg.generated-->
    insert into bridge_type
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bridgeTypeId != null">
        bridge_type_id,
      </if>
      <if test="bridgeTypeName != null">
        bridge_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bridgeTypeId != null">
        #{bridgeTypeId,jdbcType=INTEGER},
      </if>
      <if test="bridgeTypeName != null">
        #{bridgeTypeName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.BridgeType">
    <!--@mbg.generated-->
    update bridge_type
    <set>
      <if test="bridgeTypeName != null">
        bridge_type_name = #{bridgeTypeName,jdbcType=VARCHAR},
      </if>
    </set>
    where bridge_type_id = #{bridgeTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.BridgeType">
    <!--@mbg.generated-->
    update bridge_type
    set bridge_type_name = #{bridgeTypeName,jdbcType=VARCHAR}
    where bridge_type_id = #{bridgeTypeId,jdbcType=INTEGER}
  </update>

  <select id="selectBridgeTypeIdByName" resultType="int">
    select bridge_type_id
    from bridge.bridge_type
    where bridge_type_name = #{bridgeTypeName,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from bridge_type
    </select>
</mapper>
