<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.BridgeDeckingElementMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.BridgeDeckingElement">
    <!--@mbg.generated-->
    <!--@Table bridge_decking_element-->
    <id column="element_id" jdbcType="INTEGER" property="elementId" />
    <result column="element_name" jdbcType="VARCHAR" property="elementName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    element_id, element_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from bridge_decking_element
    where element_id = #{elementId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from bridge_decking_element
    where element_id = #{elementId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.BridgeDeckingElement">
    <!--@mbg.generated-->
    insert into bridge_decking_element (element_id, element_name)
    values (#{elementId,jdbcType=INTEGER}, #{elementName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.BridgeDeckingElement">
    <!--@mbg.generated-->
    insert into bridge_decking_element
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="elementId != null">
        element_id,
      </if>
      <if test="elementName != null">
        element_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="elementId != null">
        #{elementId,jdbcType=INTEGER},
      </if>
      <if test="elementName != null">
        #{elementName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.BridgeDeckingElement">
    <!--@mbg.generated-->
    update bridge_decking_element
    <set>
      <if test="elementName != null">
        element_name = #{elementName,jdbcType=VARCHAR},
      </if>
    </set>
    where element_id = #{elementId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.BridgeDeckingElement">
    <!--@mbg.generated-->
    update bridge_decking_element
    set element_name = #{elementName,jdbcType=VARCHAR}
    where element_id = #{elementId,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from bridge_decking_element
  </select>
</mapper>
