<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.PeriodicCheckRecordMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.PeriodicCheckRecord">
    <!--@mbg.generated-->
    <!--@Table periodic_check_record-->
    <id column="periodic_check_id" jdbcType="INTEGER" property="periodicCheckId" />
    <result column="bridge_id" jdbcType="INTEGER" property="bridgeId" />
    <result column="BCI" jdbcType="FLOAT" property="bci" />
    <result column="BSI" jdbcType="FLOAT" property="bsi" />
    <result column="PUCI" jdbcType="FLOAT" property="puci" />
    <result column="inspector_id" jdbcType="INTEGER" property="inspectorId" />
    <result column="check_time" jdbcType="VARCHAR" property="checkTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    periodic_check_id, bridge_id, BCI, BSI, PUCI, inspector_id, check_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from periodic_check_record
    where periodic_check_id = #{periodicCheckId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from periodic_check_record
    where periodic_check_id = #{periodicCheckId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.PeriodicCheckRecord">
    <!--@mbg.generated-->
    insert into periodic_check_record (periodic_check_id, bridge_id, BCI,
      BSI, PUCI, inspector_id,check_time)
    values (#{periodicCheckId,jdbcType=INTEGER}, #{bridgeId,jdbcType=INTEGER}, #{bci,jdbcType=FLOAT},
      #{bsi,jdbcType=FLOAT}, #{puci,jdbcType=FLOAT}, #{inspectorId,jdbcType=INTEGER}, #{checkTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.PeriodicCheckRecord">
    <!--@mbg.generated-->
    insert into periodic_check_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="periodicCheckId != null">
        periodic_check_id,
      </if>
      <if test="bridgeId != null">
        bridge_id,
      </if>
      <if test="bci != null">
        BCI,
      </if>
      <if test="bsi != null">
        BSI,
      </if>
      <if test="puci != null">
        PUCI,
      </if>
      <if test="inspectorId != null">
        inspector_id,
      </if>
      <if test="checkTime != null">
        check_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="periodicCheckId != null">
        #{periodicCheckId,jdbcType=INTEGER},
      </if>
      <if test="bridgeId != null">
        #{bridgeId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        #{bci,jdbcType=FLOAT},
      </if>
      <if test="bsi != null">
        #{bsi,jdbcType=FLOAT},
      </if>
      <if test="puci != null">
        #{puci,jdbcType=FLOAT},
      </if>
      <if test="inspectorId != null">
        #{inspectorId,jdbcType=INTEGER},
      </if>
      <if test="checkTime != null">
        #{checkTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.PeriodicCheckRecord">
    <!--@mbg.generated-->
    update periodic_check_record
    <set>
      <if test="bridgeId != null">
        bridge_id = #{bridgeId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        BCI = #{bci,jdbcType=FLOAT},
      </if>
      <if test="bsi != null">
        BSI = #{bsi,jdbcType=FLOAT},
      </if>
      <if test="puci != null">
        PUCI = #{puci,jdbcType=FLOAT},
      </if>
      <if test="inspectorId != null">
        inspector_id = #{inspectorId,jdbcType=INTEGER},
      </if>
      <if test="inspectorId != null">
        check_time = #{checkTime,jdbcType=VARCHAR},
      </if>
    </set>
    where periodic_check_id = #{periodicCheckId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.PeriodicCheckRecord">
    <!--@mbg.generated-->
    update periodic_check_record
    set bridge_id = #{bridgeId,jdbcType=INTEGER},
      BCI = #{bci,jdbcType=FLOAT},
      BSI = #{bsi,jdbcType=FLOAT},
      PUCI = #{puci,jdbcType=FLOAT},
      inspector_id = #{inspectorId,jdbcType=INTEGER},
      check_time = #{checkTime,jdbcType=VARCHAR}
    where periodic_check_id = #{periodicCheckId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from periodic_check_record
  </select>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAllByBridgeId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from periodic_check_record
    where bridge_id=#{bridgeId,jdbcType=INTEGER}
    order by periodic_check_id desc
    limit #{current,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="countByBridgeId" resultType="java.lang.Integer">
    select count(1)
    from periodic_check_record
    where bridge_id=#{bridgeId,jdbcType=INTEGER}
  </select>

  <select id="selectMaxPrimaryKey" resultType="int">
    select max(periodic_check_id)
    from
      bridge.periodic_check_record
  </select>
</mapper>
