<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.PierCheckDataMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.PierCheckData">
    <!--@mbg.generated-->
    <!--@Table pier_check_data-->
    <id column="pier_check_data_id" jdbcType="INTEGER" property="pierCheckDataId" />
    <result column="periodic_check_id" jdbcType="INTEGER" property="periodicCheckId" />
    <result column="pier_id" jdbcType="INTEGER" property="pierId" />
    <result column="BCI" jdbcType="FLOAT" property="bci" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    pier_check_data_id, periodic_check_id, pier_id, BCI
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from pier_check_data
    where pier_check_data_id = #{pierCheckDataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from pier_check_data
    where pier_check_data_id = #{pierCheckDataId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.PierCheckData">
    <!--@mbg.generated-->
    insert into pier_check_data (pier_check_data_id, periodic_check_id,
      pier_id, BCI)
    values (#{pierCheckDataId,jdbcType=INTEGER}, #{periodicCheckId,jdbcType=INTEGER},
      #{pierId,jdbcType=INTEGER}, #{bci,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.PierCheckData">
    <!--@mbg.generated-->
    insert into pier_check_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pierCheckDataId != null">
        pier_check_data_id,
      </if>
      <if test="periodicCheckId != null">
        periodic_check_id,
      </if>
      <if test="pierId != null">
        pier_id,
      </if>
      <if test="bci != null">
        BCI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pierCheckDataId != null">
        #{pierCheckDataId,jdbcType=INTEGER},
      </if>
      <if test="periodicCheckId != null">
        #{periodicCheckId,jdbcType=INTEGER},
      </if>
      <if test="pierId != null">
        #{pierId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        #{bci,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.PierCheckData">
    <!--@mbg.generated-->
    update pier_check_data
    <set>
      <if test="periodicCheckId != null">
        periodic_check_id = #{periodicCheckId,jdbcType=INTEGER},
      </if>
      <if test="pierId != null">
        pier_id = #{pierId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        BCI = #{bci,jdbcType=FLOAT},
      </if>
    </set>
    where pier_check_data_id = #{pierCheckDataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.PierCheckData">
    <!--@mbg.generated-->
    update pier_check_data
    set periodic_check_id = #{periodicCheckId,jdbcType=INTEGER},
      pier_id = #{pierId,jdbcType=INTEGER},
      BCI = #{bci,jdbcType=FLOAT}
    where pier_check_data_id = #{pierCheckDataId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from pier_check_data
  </select>
</mapper>
