<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.SpansMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.Spans">
    <!--@mbg.generated-->
    <!--@Table spans-->
    <id column="span_id" jdbcType="INTEGER" property="spanId" />
    <result column="bridge_id" jdbcType="INTEGER" property="bridgeId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    span_id, bridge_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from spans
    where span_id = #{spanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from spans
    where span_id = #{spanId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.Spans">
    <!--@mbg.generated-->
    insert into spans (span_id, bridge_id)
    values (#{spanId,jdbcType=INTEGER}, #{bridgeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.Spans">
    <!--@mbg.generated-->
    insert into spans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spanId != null">
        span_id,
      </if>
      <if test="bridgeId != null">
        bridge_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spanId != null">
        #{spanId,jdbcType=INTEGER},
      </if>
      <if test="bridgeId != null">
        #{bridgeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.Spans">
    <!--@mbg.generated-->
    update spans
    <set>
      <if test="bridgeId != null">
        bridge_id = #{bridgeId,jdbcType=INTEGER},
      </if>
    </set>
    where span_id = #{spanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.Spans">
    <!--@mbg.generated-->
    update spans
    set bridge_id = #{bridgeId,jdbcType=INTEGER}
    where span_id = #{spanId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from spans
    </select>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAllByBridgeId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from spans
        where bridge_id=#{bridgeId,jdbcType=INTEGER}
    </select>
</mapper>
