<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ran.dao.SpanCheckDataMapper">
  <resultMap id="BaseResultMap" type="com.ran.domain.SpanCheckData">
    <!--@mbg.generated-->
    <!--@Table span_check_data-->
    <id column="span_check_data_id" jdbcType="INTEGER" property="spanCheckDataId" />
    <result column="periodic_check_id" jdbcType="INTEGER" property="periodicCheckId" />
    <result column="span_id" jdbcType="INTEGER" property="spanId" />
    <result column="BCI" jdbcType="FLOAT" property="bci" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    span_check_data_id, periodic_check_id, span_id, BCI
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from span_check_data
    where span_check_data_id = #{spanCheckDataId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from span_check_data
    where span_check_data_id = #{spanCheckDataId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ran.domain.SpanCheckData">
    <!--@mbg.generated-->
    insert into span_check_data (span_check_data_id, periodic_check_id,
      span_id, BCI)
    values (#{spanCheckDataId,jdbcType=INTEGER}, #{periodicCheckId,jdbcType=INTEGER},
      #{spanId,jdbcType=INTEGER}, #{bci,jdbcType=FLOAT})
  </insert>
  <insert id="insertSelective" parameterType="com.ran.domain.SpanCheckData">
    <!--@mbg.generated-->
    insert into span_check_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="spanCheckDataId != null">
        span_check_data_id,
      </if>
      <if test="periodicCheckId != null">
        periodic_check_id,
      </if>
      <if test="spanId != null">
        span_id,
      </if>
      <if test="bci != null">
        BCI,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="spanCheckDataId != null">
        #{spanCheckDataId,jdbcType=INTEGER},
      </if>
      <if test="periodicCheckId != null">
        #{periodicCheckId,jdbcType=INTEGER},
      </if>
      <if test="spanId != null">
        #{spanId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        #{bci,jdbcType=FLOAT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ran.domain.SpanCheckData">
    <!--@mbg.generated-->
    update span_check_data
    <set>
      <if test="periodicCheckId != null">
        periodic_check_id = #{periodicCheckId,jdbcType=INTEGER},
      </if>
      <if test="spanId != null">
        span_id = #{spanId,jdbcType=INTEGER},
      </if>
      <if test="bci != null">
        BCI = #{bci,jdbcType=FLOAT},
      </if>
    </set>
    where span_check_data_id = #{spanCheckDataId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ran.domain.SpanCheckData">
    <!--@mbg.generated-->
    update span_check_data
    set periodic_check_id = #{periodicCheckId,jdbcType=INTEGER},
      span_id = #{spanId,jdbcType=INTEGER},
      BCI = #{bci,jdbcType=FLOAT}
    where span_check_data_id = #{spanCheckDataId,jdbcType=INTEGER}
  </update>

<!--auto generated by MybatisCodeHelper on 2022-07-07-->
  <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from span_check_data
    </select>
</mapper>
